@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
 .arrow_left, .arrow_right, .arrow_triangle-right, .icon_check, .icon_search, .icon_clock, .icon_mail, .icon_pin, .icon_profile, .icon_phone, .social_facebook, .social_twitter, .social_pinterest, .social_linkedin {
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.arrow_left:before {
	content: "\23";
}
.arrow_right:before {
	content: "\24";
}
.arrow_triangle-right:before {
	content: "\45";
}
.icon_check:before {
	content: "\4e";
}
.icon_search:before {
	content: "\55";
}
.icon_clock:before {
	content: "\e06b";
}
.icon_mail:before {
	content: "\e076";
}
.icon_pin:before {
	content: "\e081";
}
.icon_profile:before {
	content: "\e08a";
}
.icon_phone:before {
	content: "\e090";
}
.social_facebook:before {
	content: "\e093";
}
.social_twitter:before {
	content: "\e094";
}
.social_pinterest:before {
	content: "\e095";
}
.social_linkedin:before {
	content: "\e09d";
}

	
